inc/xia_version.h
release
t_api/*.dll
t_api/*.ini
t_api/*.log
t_api/*.manifest
t_api/local_config.yml
t_api/sandbox/*
tests/**/*.log
tests/*/data/*
tools/releaser/changeset.yml
tools/releaser/config.yml

# Python files
venv*/
